
<bz-filtered-radiobutton class="box-continer__row--radio-button" *ngFor="let radioBtn of radioBtnRow.btnList" [buttonConfig]="radioBtn"
      (ngModelChange)="onRadioChange($event)"
      [name]="radioBtn.radioBtnName"
      [(ngModel)]="complexRadio"></bz-filtered-radiobutton>

<mh-heb-datepicker-range [id]="'installation_date'" name="'installation_date'" [buttonConfig]="datePickerConfig"
  [(ngModel)]="complexRadio"
  (ngModelChange)="onChangeModel($event)">
</mh-heb-datepicker-range>


{{complexRadio | json}}
